html {
  background-color: $theme1;
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 18px;
  scroll-behavior: smooth;

  @include sp($sph) {
    font-size: 18px;
  }
}

body {
  margin: 0em;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0em;
  margin-bottom: 0em;
}

.maintitle {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1em;
  opacity: 0;
}

.subtitle {
  font-size: 1.5rem;
  border-left: 8px solid $theme5;
  color: $theme5;
  padding: 0.3em;
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
  opacity: 0;
}

table,
tr,
td,
th {
  border-collapse: collapse;
  border: solid 0.5px black;
}

th {
  background-color: #cccccc;
}

td.buy {
  background-color: $buy;
}

td.sell {
  background-color: $sell;
}

table {
  max-width: 100%;
}

span.buy {
  color: $buy_font;
}

span.sell {
  color: $sell_font;
}

input,
select,
button {
  font-size: 1rem;
}

label.checkbox {
  * {
    cursor: pointer;
  }

  input {
    display: none;
  }

  span {
    padding-left: 1.2em;
    position: relative;
  }

  span::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    font-size: 1rem;
    border: 1px solid #999;
    border-radius: 4px;
  }

  input:checked + span::after {
    content: "";
    display: block;
    position: absolute;
    top: -0.5em;
    left: 0.5em;
    width: 0.5em;
    height: 1em;
    transform: rotate(40deg);
    border-bottom: 0.3em solid $active;
    border-right: 0.3em solid $active;
  }
}

label.radio {
  * {
    cursor: pointer;
  }

  input {
    display: none;
  }

  span {
    padding-left: 1.2em;
    position: relative;
  }

  span::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1em;
    height: 1em;
    border: 1px solid #999;
    border-radius: 50%;
  }

  input:checked + span::after {
    content: "";
    display: block;
    position: absolute;
    top: 0.25em;
    left: 0.25em;
    width: 0.7em;
    height: 0.7em;
    background: $active;
    border-radius: 50%;
  }
}

.buttonable {
  cursor: pointer;
  color: $active;

  &:active {
    cursor: $active;
  }

  &:hover {
    cursor: $hover;
  }
}

button,
input[type="submit"],
input[type="reset"],
select {
  border-radius: 1.5em;
  border: transparent 2px solid;
  color: #fff;
  text-align: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background: $active;
  cursor: pointer;
}

button,
input[type="submit"],
input[type="reset"] {
  &:active {
    background: $active;
  }
}

button,
input[type="submit"],
input[type="reset"] {
  &:disabled {
    background: gray;
  }
}

input[type="text"],
textarea {
  outline: none;
  border: 1px solid #aaa;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

input[type="text"]:focus,
textarea:focus {
  box-shadow: 0 0 7px #1abc9c;
  border: 1px solid #1abc9c;
}

.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  transition-duration: 0.25s;
}

.fade-enter-active {
  transition-delay: 0.25s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

[data-scroll] {
  transition: all 1s;
}

[data-scroll="in"] {
  opacity: 1;
  -webkit-transform: translate(0, 0) !important;
  transform: translate(0, 0) !important;
}

[data-scroll="out"] {
  opacity: 0;
}

.-js-fade-up {
  -webkit-transform: translateY(30px);
  transform: translateY(30px);
}

.-js-fade-down {
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
}

.-js-fade-left {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
}

.-js-fade-right {
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
}
